<%= form.fields_for :station do |station_form| %>
  <div class="field">
    <%= station_form.label :"路線名" %>
    <%= station_form.text_field :train_line %>
  </div>
  <div class="field">
    <%= station_form.label :"駅名" %>
    <%= station_form.text_field :station_name %>
  </div>
  <div class="field">
    <%= station_form.label :"徒歩時間" %>
    <%= station_form.text_field :walking_time %>
  </div>
<% end %>

  <div class="actions">
    <%= form.submit "登録する" %>
  </div>
<% end %>