<%= form.fields_for :stations do |stations_form| %>
  <h3>最寄駅<%= %></h3>
  <div class="train_line_field">
    <%= stations_form.label :"路線名" %><br>
    <%= stations_form.text_field :train_line %>
  </div>
  <div class="station_name_field">
    <%= stations_form.label :"駅名" %><br>
    <%= stations_form.text_field :station_name %>
  </div>
  <div class="walking_time_field">
    <%= stations_form.label :"徒歩時間" %><br>
    <%= stations_form.text_field :walking_time %>分
  </div>
<% end %>